<?xml version="1.0"?>
<log4net>

  <root>
    <level value="All" />
    <appender-ref ref="AdoNetAppender_Oracle" />
    <appender-ref ref="LogFileAppender" />
  </root>

  <appender name="LogFileAppender" type="log4net.Appender.ROllingFileAppender">
    <threshold value="DEBUG" />
    <file value="Logs/application.log" />
    <appendToFile value="True" />
    <rollingStyle value="Composite" />
    <dataPattern value="yyyMMdd" />
    <maxSizeRollBackups value="10" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="HERE IS TONS OF STUFF LOOK IT UP[ ONLINE"
    </layout>
  </appender>

</log4net>